#form {
  display: none;
}

#form.activeForm {
  display: block;
  width: 75%;

  padding: 0.625rem;

  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #c9c9c9;
}

.sectionForm h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 0.3125rem 0;
}

.sectionForm p {
  color: #555;
  font-size: 0.875rem;
}

.groupField {
  display: flex;
  justify-content: space-between;

  margin: 1.5625rem 0;
}

.sectionForm form label {
  display: block;
  font-size: 1rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.sectionForm form input {
  padding: 0.3125rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #222;
  outline: none;
  margin-bottom: 0.875rem;
}

.groupField input {
  width: 100%;
}

.selectPay select {
  background-color: transparent;
  width: 100%;
  color: #222;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.9375rem;
}

.fieldTextForSelles textarea {
  width: 100%;
  height: 9.375rem;
}

.fieldCheck {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.625rem 0;
}

.fieldCheck input,
.fieldCheck label {
  margin-bottom: 0rem !important;
}

.submitForm {
  border: none;
  background: #00d6a6;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.9375rem 3.125rem;
  border-radius: 0.25rem;
  margin-top: 1.5625rem;
}

@media only screen and (max-width: 43.75rem) {
  #form.activeForm {
    width: 100%;

    text-align: center;
  }

  .sectionForm h2 {
    font-size: 1.75rem;
    margin: 0 0 0.9375rem 0;
  }

  .sectionForm p {
    font-size: 1rem;
  }

  .groupField {
    display: flex;
    flex-direction: column;

    margin: 1.5625rem 0;
  }

  .sectionForm form label {
    text-align: left;
  }
}
