#form {
  display: none;
}

#form.activeForm {
  display: block;
}

#form h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 20px 0 5px 0;
}

#form p {
  color: #555;
  font-size: 0.875rem;
  margin: 0 0 15px 0;
}

form,
label,
input {
  display: block;
}

.fieldName label,
.fieldEmail label,
.fieldCpf label,
.fieldContact label,
.fieldAdress label,
.selectPay label,
.fieldTextForSelles label {
  font-size: 1rem;
  color: #222;
  margin-bottom: 8px;
}

.fieldName input,
.fieldEmail input,
.fieldCpf input,
.fieldContact input,
.fieldAdress input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #222;
  outline: none;
  margin-bottom: 12px;
}

.fieldContact {
  display: flex;
  justify-content: space-between;
}

.selectPay select {
  background-color: transparent;
  color: #222;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 12px;
}

.fieldCheck {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.submitForm {
  border: none;
  background: #66cd00;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 1rem;
  padding: 15px 50px;
  border-radius: 4px;
  margin-top: 25px;
}
