#form {
  display: none;
}

#form.activeForm {
  display: block;
}

.sectionForm h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 5px 0;
}

.sectionForm p {
  color: #555;
  font-size: 0.875rem;
  margin: 0 0 15px 0;
}

.sectionForm form label {
  display: block;
  font-size: 1rem;
  color: #222;
  margin-bottom: 8px;
}

.sectionForm form input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #222;
  outline: none;
  margin-bottom: 14px;
}

.fieldContact {
  display: flex;
  gap: 3%;
}

.selectPay select {
  background-color: transparent;
  color: #222;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 12px;
}

.fieldCheck {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.fieldCheck input,
.fieldCheck label {
  margin-bottom: 0px !important;
}

.submitForm {
  border: none;
  background: #00d6a6;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 1rem;
  padding: 15px 50px;
  border-radius: 4px;
  margin-top: 25px;
}
