@import url('https://css.gg/menu.css');

nav .gg-menu {
  display: none;
}

@media only screen and (max-width: 700px) {
  .logo {
    position: fixed;
    top: 4%;
    left: 7%;
  }

  nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 100px 7% 0;
    background: #000;
    text-align: right;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav .nav-links li {
    margin: 10px 0;
    display: block;
  }
  .register-btn {
    margin: 15px 0 30px;
    justify-content: flex-end;
  }
  nav .gg-menu {
    display: block;
    position: fixed;
    top: 10%;
    right: 7%;
    color: #fff;
    font-size: 28px;
  }
  .hidemenu {
    max-height: 300px;
  }
}
