@import url('https://css.gg/menu.css');

nav .gg-menu {
  display: none;
}

@media only screen and (max-width: 50rem) {
  .logo {
    position: fixed;
    top: 4%;
    left: 7%;
  }

  nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 6.25rem 7% 0;
    background: #000;
    text-align: right;
    max-height: 6.25rem;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav .nav-links li {
    margin: 0.625rem 0;
    display: block;
  }
  .register-btn {
    margin: 0.9375rem 0 1.875rem;
    justify-content: flex-end;
  }
  nav .gg-menu {
    display: block;
    position: fixed;
    top: 10%;
    right: 7%;
    color: #5e81ac;
    font-size: 1.75rem;
  }
  .hidemenu {
    max-height: 18.75rem;
  }
}
