.modal-container {
  height: 100vh;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 2000;

  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.activeModal {
  display: flex;
}

.gg-close-r {
  cursor: pointer;
}

.wrapper {
  overflow: hidden;
  max-width: 60rem;
  background: #fff;
  padding: 1.875rem;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.9375rem 1.25rem rgba(0, 0, 0, 0.1);
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title-text .title {
  width: 50%;
  font-size: 2.1875rem;
  font-weight: 500;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .slide-controls {
  position: relative;
  display: flex;
  height: 3.125rem;
  width: 100%;
  overflow: hidden;
  border-radius: 0.3125rem;
  margin: 1.875rem 0 0.625rem 0;
  justify-content: space-between;
  border: 0.0625rem solid lightgray;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  z-index: 1;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  transition: all 0.6s ease;
}

.slide-controls .signup {
  color: #000;
}

.slide-controls .slide-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 0.3125rem;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: -webkit-linear-gradient(left, #023059, #084f8c);
}

input[type='radio'] {
  display: none;
}

#signup:checked ~ .slide-tab {
  left: 50%;
}

#signup:checked ~ .signup {
  color: #fff;
}

#signup:checked ~ .login {
  color: #000;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 3.125rem;
  width: 100%;
  margin-top: 1.25rem;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 0.9375rem;
  font-size: 1.0625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid lightgrey;
  border-bottom-width: 0.125rem;
  transition: all 0.4s ease;
}

.form-inner form .field input:focus {
  border-color: #023059;
}

.form-inner form .pass-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.3125rem;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #084f8c;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 1.875rem;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}

form .btnRegisterToEmail,
form .btnLoginToEmail {
  background: -webkit-linear-gradient(left, #023059, #084f8c);
  color: #fff;
  height: 3.125rem;
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  outline: none;
  padding-left: 0.9375rem;
  font-size: 1.0625rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

form .btnRegisterToEmail:hover,
form .btnSubmitSignin:hover {
  filter: opacity(0.9);
}

form .btnLoginToGoogle {
  background-color: #f2360c;
  color: #fff;
  height: 3.125rem;
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  outline: none;
  padding-left: 0.9375rem;
  font-size: 1.0625rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

form .btnLoginToGoogle:hover {
  background-color: #db4a39;
}

form .btnLoginToFacebook {
  background-color: #3b5998;
  color: #fff;
  height: 3.125rem;
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  outline: none;
  padding-left: 0.9375rem;
  font-size: 1.0625rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

form .btnLoginToFacebook:hover {
  filter: opacity(0.9);
}
