.navbar-white {
  background: #fff;
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.05);
}

.navbar-white .nav-links li a {
  color: #111;
}

.navbar-white .register-btn {
  background: #ff5361;
}

.list-container {
  margin-top: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-col {
  flex-basis: 70%;
}

.left-col h1 {
  color: #333;
  font-weight: 500;
  margin-bottom: 1.875rem;
}

.car {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.875rem 0;
  border-top: 0.0625rem solid #ccc;
}

.car-img {
  flex-basis: 40%;
}

.car-img img {
  width: 100%;
  border-radius: 0.75rem;
}

.car-info {
  flex-basis: 58%;
  color: #555;
}

.car-info h3 {
  font-weight: 700;
  color: #333;
  font-size: 1.375rem;
  margin: 0.25rem 0;
}

.car-info span {
  color: #f3123c;
}

.car-price {
  margin-top: 1rem;
  text-align: right;
}

.car-price h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.car-price p {
  font-size: 1rem;
  font-weight: 300;
}

.car-buy {
  margin-top: 1.25rem;
}

.car-buy a {
  background-color: #f3123c;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 700;

  transition: 0.2s;
}

.car-buy a:hover {
  filter: brightness(70%);
}

.right-col {
  flex-basis: 25%;
}

@media only screen and (max-width: 50rem) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .list-container {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .left-col {
    flex-basis: 100%;
  }

  .left-col p {
    margin: 5rem 0 auto 5rem;
  }

  .left-col h1 {
    margin: 1.25rem 0 auto 5rem;
    font-size: 1.375rem;
  }

  .car {
    flex-direction: column;
    justify-content: center;
  }

  .car-img {
    flex-basis: 0;
  }

  .car-img img {
    width: 80%;
    margin: 0 auto;
    border-radius: 0.75rem;
  }

  .car-info {
    flex-basis: 100%;
    width: 80%;
    margin: 0 auto;
  }

  .car-price {
    text-align: left;
  }

  .car-buy a {
    width: 100%;
  }

  .right-col {
    flex-basis: 100%;
  }
}

.sidebar {
  border: 0.0625rem solid #999;
  padding: 1.25rem 1.875rem;
  margin-top: 1.875rem;
}

.sidebar h2 {
  font-weight: 500;
}

.sidebar h3 {
  font-weight: 300;
  margin: 1.25rem 0 0.625rem;
}

.filter {
  display: flex;
  align-items: center;
  color: #555;
  margin-bottom: 0.625rem;
}

.filter p {
  flex: 1;
}

.filter input {
  margin-right: 0.9375rem;
  cursor: pointer;
}

.sidebar-link {
  text-align: right;
  margin: 1.25rem 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0;
}

.pagination i {
  width: 0.9375rem;
  margin: 0.625rem 1.25rem;
  color: #333;
}

.pagination span {
  margin: 0.625rem 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.pagination .current {
  background: #333;
  color: #fff;
}
