.navbar-white {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navbar-white .nav-links li a {
  color: #111;
}

.navbar-white .register-btn {
  background: #ff5361;
}

.list-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-col {
  flex-basis: 70%;
}

.left-col h1 {
  color: #333;
  font-weight: 500;
  margin-bottom: 30px;
}

.car {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

.car-img {
  flex-basis: 40%;
}

.car-img img {
  width: 100%;
  border-radius: 12px;
}

.car-info {
  flex-basis: 58%;
  color: #555;
}

.car-info h3 {
  font-weight: 700;
  color: #333;
  font-size: 22px;
  margin: 4px 0;
}

.car-info span {
  color: #f3123c;
}

.car-price {
  margin-top: 1rem;
  text-align: right;
}

.car-price h4 {
  font-size: 20px;
  font-weight: 500;
}

.car-price p {
  font-size: 1rem;
  font-weight: 300;
}

.car-buy {
  margin-top: 20px;
}

.car-buy a {
  background-color: #f3123c;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;

  transition: 0.2s;
}

.car-buy a:hover {
  filter: brightness(70%);
}

.right-col {
  flex-basis: 25%;
}

.sidebar {
  border: 1px solid #999;
  padding: 20px 30px;
  margin-top: 30px;
}

.sidebar h2 {
  font-weight: 500;
}

.sidebar h3 {
  font-weight: 300;
  margin: 20px 0 10px;
}

.filter {
  display: flex;
  align-items: center;
  color: #555;
  margin-bottom: 10px;
}

.filter p {
  flex: 1;
}

.filter input {
  margin-right: 15px;
  cursor: pointer;
}

.sidebar-link {
  text-align: right;
  margin: 20px 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.pagination i {
  width: 15px;
  margin: 10px 20px;
  color: #333;
}

.pagination span {
  margin: 10px 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.pagination .current {
  background: #333;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .navbar-white .gg-menu {
    color: #000;
  }
  .navbar-white .register-btn {
    background: transparent;
    color: #000;
  }

  .list-container {
    margin-top: 150px;
  }

  .left-col,
  .right-col,
  .car-img,
  .car-info {
    flex-basis: 100%;
  }

  .left-col h1 {
    font-size: 22px;
  }

  .pagination span {
    margin: 10px 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}
