.product-details {
  padding: 0 10.625rem;
}

.product-title {
  margin-top: 3.125rem;
}

.product-title h1 {
  font-weight: 700;
}

.product-title span {
  color: #f3123c;
}

.product-title .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0.625rem 0;
}

.product-title span {
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-areas: 'main main . .' 'main main . .';
  margin: 1.25rem 0;
}

.gallery div img {
  border-radius: 0.625rem;
}

.gallery-img-main {
  grid-area: main;
}

.small-details h3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.small-details p {
  display: flex;
  gap: 0.5rem;
  color: #222;
}

.gg-danger {
  color: #ffe066;
}

.line {
  border: 0;
  height: 0.0625rem;
  background: #ccc;
  width: 100%;
  max-width: 50rem;
  margin: 1.25rem 0 3.125rem;
}

/* form */

.details-list {
  margin: 3.125rem 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.details-list li {
  margin: 0 1.5625rem;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  color: #333;
}

.details-list li span {
  color: #555;
  display: block;
  margin-left: 0.3125rem;
  font-weight: 400;
  font-size: 1rem;
}

.map {
  margin: 3.125rem 0;
}

.map h4 {
  font-size: 1.625rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}

.map iframe {
  width: 100%;
  margin-bottom: 1.875rem;
}

.map strong {
  display: block;
  text-align: right;
}

.home-desc {
  max-width: 50rem;
  margin-bottom: 3.125rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 25%;
}

.home-desc .msg {
  max-width: 50%;
}

.home-desc .msg h2 {
  color: #f3123c;
  margin-bottom: 1rem;
}

.home-desc .msg p {
  font-size: 0.875rem;
  color: #555;
}

.home-desc .linkOpenForm span {
  background-color: #00d6a6;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;

  padding: 1rem;
}

@media only screen and (max-width: 50rem) {
  .product-details {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    margin-top: 9.375rem;
  }

  .product-title .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .row p {
    margin-top: 0.625rem;
  }

  .gallery {
    grid-template-areas: 'main';
  }

  .gallery div img {
    width: 80%;
  }

  .small-details h3 {
    width: 70%;
  }

  .small-details p {
    flex-direction: column;
    width: 70%;
  }

  .line {
    width: 100%;
    max-width: 43.75rem;
    margin: 1.25rem 0 3.125rem;
  }

  .details-list {
    grid-template-columns: 1fr;
    text-align: center;
    width: 70%;
  }

  .details-list li {
    margin: 0 auto;
  }

  .map {
    text-align: left;
  }

  .map iframe {
    display: none;
  }

  .map strong {
    display: block;
    text-align: left;
  }

  .home-desc {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-desc .msg {
    max-width: 50%;
    margin-bottom: 3.4375rem;
  }
}
