.mainContainer {
  max-width: 68.75rem;
  margin: 0 auto;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainContainerText {
  max-width: 35rem;
  margin-bottom: 5.625rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainContainerText h1 {
  font-size: 3.125rem;
  color: #333;
}

.mainContainerText p {
  font-size: 1.5rem;
  line-height: 2.375rem;
  margin-top: 1.5rem;
  color: #555;
}

.mainContainerText a {
  width: 100%;
  max-width: 22.5rem;
  height: 4.5rem;

  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  margin-top: 2.5rem;

  background: darkgreen;

  transition: 900ms;
}

.mainContainerText a i {
  color: #fff;
}

.mainContainerText a strong {
  color: #fff;
  font-size: 1.25rem;
}

.mainContainerImg {
  width: 40vw;
}

@media only screen and (max-width: 50rem) {
  .mainContainer {
    max-width: 43.75rem;
    margin: 6.25rem auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .mainContainerText h1 {
    font-size: 2.75rem;
    text-align: center;
  }

  .mainContainerText p {
    font-size: 1.25rem;
    text-align: center;
  }

  .mainContainerText a {
    max-width: 18.75rem;
    height: 4.0625rem;

    margin: 2.5rem auto 0 auto;
  }

  .mainContainerText a i {
    color: #fff;
  }

  .mainContainerText a strong {
    color: #fff;
    font-size: 1.25rem;
  }

  .mainContainerImg {
    width: 30vw;
  }
}

.titleMainContainer {
  margin: 3.125rem 0;
  font-size: 2.5rem;
  text-align: center;
  color: #333;
}

@media only screen and (max-width: 50rem) {
  .titleMainContainer {
    margin: 3.125rem 0;
    font-size: 2rem;
  }
}

.mainContainerPlans {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.mainContainerPlans div {
  background-color: #fff;
  box-shadow: rgb(203 203 203 / 50%) 0rem 0.625rem 0.625rem;
  border-radius: 0.5rem;
  width: 13.125rem;
  height: 18.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainerPlans div h4 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  color: #555;
  text-align: center;
}

.mainContainerPlans div span {
  color: #ff5361;
  font-size: 2rem;
}

.mainContainerPlans div h3 {
  color: #222;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

@media only screen and (max-width: 50rem) {
  .mainContainerPlans {
    flex-direction: column;
    height: 50vh;
    margin: 9.375rem 0;
  }

  .mainContainerPlans div {
    padding: 1.375rem;
  }
}

.mainSidebar {
  background: #434c5e;
}

.mainSidebar .mainSidebarContent {
  max-width: 75rem;
  padding: 2.5rem 0;
  margin: 0 auto;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainSidebar .mainSidebarContent h3 {
  font-size: 2.625rem;
}

.mainSidebar .mainSidebarContent p {
  font-size: 1rem;
}

.mainSidebar .mainSidebarContent a {
  width: 25vw;
  height: 8vh;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #37b24d;
  color: #f1f1f1;
  transition: 900ms;
}

@media only screen and (max-width: 50rem) {
  .mainSidebar .mainSidebarContent {
    max-width: 50rem;
    margin: 7.8125rem auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .mainSidebar .mainSidebarContent h3 {
    font-size: 1.875rem;
  }

  .mainSidebar .mainSidebarContent p {
    font-size: 1rem;
  }

  .mainSidebar .mainSidebarContent a {
    font-size: 0.875rem;
    margin-top: 1.25rem;
  }
}

@media only screen and (max-width: 31.25rem) {
  .mainSidebar .mainSidebarContent a {
    width: 60%;
    font-size: 0.875rem;
    margin-top: 1.25rem;
  }
}

.mainContainerBenefits {
  max-width: 75rem;
  margin: 0 auto;
  width: 100vw;
  height: 70vh;
}

.containerBenefits {
  padding: 1.25rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerBenefits div {
  text-align: center;
  flex: 1;
}

.containerBenefits div img {
  margin: 1.25rem auto;
  width: 3.125rem;
  height: 3.125rem;
}

.containerBenefits div h3 {
  margin: 1.25rem auto;
  font-size: 1.25rem;
  color: #f3123c;
}

.containerBenefits div p {
  color: #3b4252;
}

@media only screen and (max-width: 50rem) {
  .mainContainerBenefits {
    max-width: 50rem;
    height: 140vh;
  }

  .containerBenefits {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 31.25rem) {
  .mainContainerBenefits {
    max-width: 50rem;
    height: 160vh;
  }

  .containerBenefits {
    flex-direction: column;
    justify-content: center;
  }
}

.mainContainerQuestions {
  max-width: 75rem;
  margin: 0 auto 3.125rem auto;
  width: 100vw;
  height: 80vh;
}

.mainContainerQuestions .questions {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.25rem 2.5rem;
}

.questions dt {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #f3123c;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions dd {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-left: 1.875rem;
  color: #3b4252;
}

[data-anime='accordion'] dd {
  display: none;
}

[data-anime='accordion'] dt::after {
  content: '+';
}

[data-anime='accordion'] dt.activeAccordionList::after {
  content: '-';
}

[data-anime='accordion'] dd.activeAccordionList {
  display: block;
  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 12.5rem;
    opacity: 1;
  }
}

@media only screen and (max-width: 50rem) {
  .mainContainerQuestions {
    max-width: 50rem;
    margin: 0 auto 6.25rem auto;
    height: 90vh;
  }

  .mainContainerQuestions .questions {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 31.25rem) {
  .mainContainerQuestions {
    max-width: 31.25rem;
    margin: 9.375rem auto;
    height: 150vh;
  }

  .mainContainerQuestions .questions {
    max-width: 31.25rem;
    margin: 0 auto;
    padding: 1.25rem 2.5rem;
  }

  .questions dt {
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .questions dd {
    font-size: 1rem;
    margin-bottom: 4.5rem;
    margin-left: 1.875rem;
  }
}
